
.stories-container {
    height: 118px;
    margin-top: 88px;
    padding: 18px 11px 14px 11px;
    position: relative;

    background-color: #ffffff;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

/* Classes que definem cada ícone do stories */
.story {
    margin: 0 7px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone {
    height: 66px;
    width: 66px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icone img:first-child {  /* Círculo em volta do ícone */
    height: 66px;
    width: 66px;

    position: absolute;
    top: 0px;
    left: 0px;
}

.icone img:last-child {  /* Ícone do stories, centralizado por flex */
    z-index: 1;
}

.story > h1 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}

.botao-scroll {
    position: absolute;
    top: 46px;
    right: 9px;
    z-index: 2;

    color: #ffffff;
    font-size: 26px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /* Roubado do figma */
}
/* Classes que definem cada ícone do stories */



/* Para telas menores que 614 pixels de largura */
@media (max-width: 614px) {
    .stories-container {
        width: 100%;
        margin-top: 54px;
        background-color: inherit;
        border-style: none;
    }

    .botao-scroll {
        display: none;
    }
}